<div class="wrapper">
  <file-drop
  [className]="'filedrop'" 
  (onFileDrop)="dropped($event)">
    <span>Drop your file here</span>
  </file-drop>

  <table id="account-table" class="table table-striped table-bordered table-sm row-border hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
      </tr>
    </thead>
  </table>

</div>